/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
}

.navbar {
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: #dddddd;
}

.navbar ul {
  margin: 0;
  text-align: right;
}

.navbar li {
  margin: 0 20px 0 0;
  line-height: 50px;
  color: #2f4f4f;
  list-style: none;
  display: inline-block;
}

 h1 {
   color: #2f4f4f;
   font-size: 50px;
   text-align: center;
 }


 .container {
   width: 910px;
   margin: 0 auto;
 }

 .container:after {
   content: "";
   clear: both;
   display: block;
 }

 p.notice {
   border: 2px solid #2f4f4f;
   width: 600px;
   padding: 5px;
   background-color: #008b8b;
   opacity: 0.8;
   color: #ffffff;
   text-align: center;
   margin: 10px auto;
 }

 footer {
   height: 50px;
   text-align: center;
   line-height: 50px;
 }
