// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img {
  text-align: center;
}

.toMyCalendar {
  color: #2f4f4f;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
}

.toMyCalendar a {
  color: inherit;
}
